<div class="container">
        <header>
                <h1>Send us your message</h1>
        </header>        
        <div class="row" id="my-unique-row">
                <div class="col-6">
                        <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Name:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Phone:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                </div>
                <div class="col-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.802043559542!2d-77.03174668454395!3d-12.12569284667676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81ec3c22ee9%3A0x1cd0b2be2d4c767d!2sLibrer%C3%ADas%20Crisol!5e0!3m2!1ses-419!2spe!4v1637868712526!5m2!1ses-419!2spe" 
                        width="600" 
                        height="420" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy"></iframe>
                </div>
        </div>
</div>