<div class="container">
        <div class="card" id="my-main-card">
                <div class="card-body">
                        <h3 class="card-title">Listado de profesores</h3>
                        <button class="btn btn-dark btn-md float-right" routerLink="/create-empleado">Agregar</button>
                        <table class="table table-striped mt-5">

                                <thead>
                                        <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Apellido</th>
                                                <th scope="col">DNI</th>
                                                <th scope="col">Salario</th>
                                                <th scope="col">Acciones</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>                                    
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>43158415</td>
                                                <td>25000</td>
                                                <td>
                                                        <i class="fas fa-edit fa-lg text-info" onClick="getCities()"></i>
                                                        <i class="fas fa-trash fa-lg text-danger"></i>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>43158415</td>
                                                <td>25000</td>
                                                <td>
                                                        <i class="fas fa-edit fa-lg text-info"></i>
                                                        <i class="fas fa-trash fa-lg text-danger"></i>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>43158415</td>
                                                <td>25000</td>
                                                <td>
                                                        <i class="fas fa-edit fa-lg text-info"></i>
                                                        <i class="fas fa-trash fa-lg text-danger"></i>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>
</div>

