<div class="container-fuid bg-dark" id="my-header-container">
        
                <div class="row">
                        <div class="col-3" id="my-date-time">
                                {{ dateTime | date }} |
                                {{ time | date: 'hh:mm:ss a' }}
                        </div>
                        <div class="col-6" id="my-title">
                                <ngx-marquee duration="50s" >
                                        <mark class="ticker-custom" >S&P 500: 4,701.46 ·</mark>
                                        <mark class="ticker-custom" >Nasdaq: 15,845.23 ·</mark>
                                        <mark class="ticker-custom" >Dow 30: 35,804.38 ·</mark>
                                        <mark class="ticker-custom" >Nikkei 225: 29,499.28 ·</mark>
                                        <mark class="ticker-custom" >FTSE 100: 7,310.37 ·</mark>
                                        <mark class="ticker-custom" >Crude Oil: 78.03 ·</mark>
                                        <mark class="ticker-custom" >Gold: 1,788.30 ·</mark>
                                        <mark class="ticker-custom" >EUR/USD: 1.1207 ·</mark>
                                        <mark class="ticker-custom" >10-Yr Bond: 1.6450 ·</mark>
                                        <mark class="ticker-custom" >BTC-USD: 58,895.92</mark>
                                        <mark class="ticker-custom" >S&P 500: 4,701.46 ·</mark>
                                        <mark class="ticker-custom" >Nasdaq: 15,845.23 ·</mark>
                                        <mark class="ticker-custom" >Dow 30: 35,804.38 ·</mark>
                                        <mark class="ticker-custom" >Nikkei 225: 29,499.28 ·</mark>
                                        <mark class="ticker-custom" >FTSE 100: 7,310.37 ·</mark>
                                        <mark class="ticker-custom" >Crude Oil: 78.03 ·</mark>
                                        <mark class="ticker-custom" >Gold: 1,788.30 ·</mark>
                                        <mark class="ticker-custom" >EUR/USD: 1.1207 ·</mark>
                                        <mark class="ticker-custom" >10-Yr Bond: 1.6450 ·</mark>
                                        <mark class="ticker-custom" >BTC-USD: 58,895.92</mark>
                                </ngx-marquee>
                        </div>
                        <div class="col-3" id="my-languages">
                                <img src="../../../assets/img/us.png">
                                <img src="../../../assets/img/jp.png">
                                <img src="../../../assets/img/de.png">
                                <img src="../../../assets/img/fr.png">
                                <img src="../../../assets/img/es.png">
                        </div>
                </div>
        
</div>
