<div class="container pt-4">
        <div class="row">
                <div class="col-lg-6 offset-lg-3">
                        <div class="card text-center">
                                <div class="card-body">
                                        <h3>Agregar Empleado</h3>
                                        <form class="add">
                                                <div class="row">
                                                        <div class="col">
                                                                <input type="text" name="title" class="form-control" placeholder="Nombre">
                                                        </div>
                                                        <div class="col">
                                                                <input type="text" name="author" class="form-control" placeholder="Apellido">
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col">
                                                                <input type="text" class="form-control" placeholder="DNI">
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col">
                                                                <input type="text" class="form-control" placeholder="Salario">
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col">
                                                                <button type="text" class="btn btn-dark btn-md float-medium" routerLink="/courses">Volver</button>
                                                                <button type="submit" class="btn btn-dark btn-md float-medium">Agregar</button>
                                                        </div>
                                                </div>
                                                
                                        </form>

                                </div>

                        </div>

                </div>
        </div>

</div>