<div class="container" id="my-container">
        <h1>My Blog</h1>
        <div class="row" id="my-unique-row">
                <div class="col-md-4">
                        <ol class="list-group active list-group-numbered" aria-current="true">
                                <li class="list-group-item active d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                          <div class="fw-bold">Subheading</div>
                                          Content for list item
                                        </div>
                                        <span class="badge bg-primary rounded-pill">14</span>
                                      </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Subheading</div>
                                    Content for list item
                                  </div>
                                  <span class="badge bg-primary rounded-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Subheading</div>
                                    Content for list item
                                  </div>
                                  <span class="badge bg-primary rounded-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Subheading</div>
                                    Content for list item
                                  </div>
                                  <span class="badge bg-primary rounded-pill">14</span>
                                </li>
                        </ol>
                        <div style="margin-top: 25px;">
                                <button type="button" class="btn btn-dark" >Create new post</button>
                        </div>
                </div>

                <div class="col-6 col-md-8">
                        <div class="card" style="width: 50rem;">
                                <img src="https://i.picsum.photos/id/289/1080/720.jpg?hmac=bFGR0SrXcAuxvDKYXRRsa6yxSdxE3YcoA-aRVej4O9I" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">This is what happened yesterday.</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">An item</li>
                                  <li class="list-group-item">A second item</li>
                                  <li class="list-group-item">A third item</li>
                                </ul>
                                <div class="card-body">
                                  <a href="#" class="card-link">Previous</a>
                                  <a href="#" class="card-link">Next</a>
                                </div>
                              </div>
                </div>
        </div>
</div>